<!doctype html>
<html ng-app="netApp">
  <head>
    <title>Network A</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.10.0.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Angular Scripts -->
    <script src="js/angular/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular/controllers.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
  <body ng-controller="videosController">
    <nav class="navigation">
      Navigation
    </nav>
     <div class="container">
      <section class="col-md-9">
        <ul class="video-list">
          <li ng-repeat="video in videos">
            <a>
              <h2>{{video.name}}</h2>
              <p>{{video.short_description}}</p>
              <img ng-src="img/video_pictures/{{video.picture_id}}.jpg" alt="996c8326 E252 443e 9d79 573f5d210c24">
            </a>
          </li>
        </ul>
      </section>
      <section class="col-md-3" ng-controller="reactionsController">
        <ul class="reactions-feed">
          <li ng-repeat="reaction in reactions">
            <a>
              <h2>{{reaction.actionable.name}}</h2>
              <img ng-src="img/video_pictures/{{reaction.actionable.picture_id}}.jpg" alt="996c8326 E252 443e 9d79 573f5d210c24">
            </a>
            {{reaction.name}}
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>