.navigation {
  background:$black;
  color:$white;
  padding:10px;
  text-align:center;
}

img {
  max-width:100%;
}

.btn {

  &:focus {
    outline:none;
  }
  
  &:active {
    outline:none;
    
     &:focus {
       outline:none;
     }
  }
}

.meta {
  margin:0;
  font-size:1em;
  font-weight:300;
  text-transform:uppercase;
  
  span {
    + span {
      margin:0 0 0 5px;
    }
  }
}

.view-count {
  font-weight:700;
}

.icon-target {
  &:before {
    content:"\25CE";
    @extend .ss-icon.ss-standard;
    color:$brand-danger;
    vertical-align:middle;
    margin:0 2px 0 0;
  }
}

.omg-reaction {
  color: $white;
  background:$gray-light;
  display:inline-block;
  padding:2px 7px 0;
  margin:0 0 0 3px;
  
  &:before {
    content:"\1F4AC";
    @extend .ss-icon.ss-standard;
    vertical-align:middle;
    margin:0 5px 0 0;
  }
}