.reaction-image {
  display:inline-block;
  font-size:0;
  background:$brand-danger;
  width:32px;
  height:32px;
  position:relative;
  
  &:before {
    font-size:12px;
    color:white;
    text-align:center;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
  }
  
  &.reaction-1 {
    &:before {
      content:"LOL";
    }
  }
  &.reaction-2 {
    &:before {
      content:"OMG";
    }
  }
  &.reaction-3 {
    &:before {
      content:"WTF";
    }
  }
  &.reaction-4 {
    &:before {
      content:"HOLY";
    }
  }
  &.reaction-5 {
    &:before {
      content:"FTW";
    }
  }
  &.reaction-6 {
    &:before {
      content:"MEH";
    }
  }
  &.reaction-7 {
    &:before {
      content:"FAIL";
    }
  }
}