
.related-videos {
  
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  
  h4 {
    font-weight:200;
    color:$gray-light;
    margin:0 0 .5em;
    font-size:1.75em;
  }
  
  .video-discovery {
    padding:40px 0 0;
    margin:40px 0 0;
    border-top:1px solid fade-out($white,.85);
    margin-left:0;
    
    .next-video {
      position:relative;
      display:block;
      @include transition(.2s all);
      
      img {
        display:block;
        width:100%;
      }
      
      h2, p {
        text-align:center;
        position:absolute;
        z-index:2;
        color:$white;
      }
      
      h2 {
        top:30%;
        font-size:2.5em;
        font-family:$font-family-serif;
        width:100%;
        padding:20px 40px;
        font-weight:700;
      }
      
      p {
        font-family:$font-family-serif;
        font-size:1.5em;
        top:50%;
        width:100%;
        padding:20px;
        font-style:italic;
      }
      
      &:after {
        position:absolute;
        content:"";
        background:$black;
        opacity:.45;
        left:0;
        right:0;
        top:0;
        bottom:0;
        @include transition(.2s all);
      }
      
      &:hover {
        @include scale(1.05);
        
        h2, p {
          text-shadow:0 1px 2px fade-out($black, .5);
        }
        
        &:after {
          opacity:.25;
        }
      }
    }
  }
  
  .tags {
    padding:40px 0 0;
    @include clearfix;
    border-top:1px solid fade-out($white, .85);
    margin:50px 0 0;
    
    .tags-nav {
      ul {
        border:0;
        
        li {
          
          a {
            border:1px solid fade-out($white, .85);
            padding: 5px 10px;
            border-radius:0;
            margin:0;
            
            &:before {
              content:"\E100";
              @extend .ss-icon.ss-standard;
              font-size:10px;
              margin-right:7px;
            }
          }
          
          &.active {
            a {
              background: fade-out($white, .8);
              color:$white;
            }
          }
          
          + li {
            margin-left:10px;
          }
        }
      }
    }
    .tab-pane {
      padding:10px 0 0;
    }
    
    .video-list-small {
      @include clearfix;
      
      li {
        width:49%;
        float:left;
        margin-bottom:10px;
        
        a {
          position:relative;
          display:block;
          cursor:pointer;
          @include transition(.2s all);
          
          img {
            display:block;
          }
          
          h2, p {
            text-align:center;
            position:absolute;
            z-index:2;
            color:$white;
            @include transition(.2s all);
          }
          
          h2 {
            top:13%;
            font-size:1.5em;
            font-family:$font-family-serif;
            width:100%;
            padding:5px 15px;
            margin:0;
            font-weight: 700;
          }
          
          p {
            font-family:$font-family-serif;
            font-style:italic;
            font-size:1.15em;
            opacity:0;
            top:23%;
            width:100%;
            padding:20px;
          }
          
          &:after {
            position:absolute;
            content:"";
            background:$black;
            opacity:.5;
            left:0;
            right:0;
            top:0;
            bottom:0;
          }
          
          &:hover {
            h2 {
              opacity:0;
            }
            
            p {
              opacity:1;
              text-shadow:0 1px 2px fade-out($black, .5);
            }
            
            &:after {
              opacity:.35;
            }
          }
        }
        
        + li {
          margin-left:2%;
        }
        
        &:nth-child(5n) {
          margin-left:0;
        }
        
        &.see-all {
          
          h2 {
            top:34%;
          }
          
          p {
            top:5%;
          }
        }
      }
    }
  }
}
